.hero-box--gigs {
  background-color: black;
  background-image: url('../images/kai-gigs--hero.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  color: white;
  height: 24em;
  margin-bottom: 2em;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
  padding-left: 5em;
  padding-top: 2em;
  overflow: hidden;
  position: relative;

  .quote-text {
    margin-top: 3em;

    @media screen and (max-width: 868px) {
      font-size: 0.8em;
    }

    @media screen and (max-width: 615px) {
      font-size: 0.7em;
      position: absolute;
      bottom:1.3em;
      left:1.3em;
      right:1.3em;
      width: auto;
      float: none;

    }
  }
}
