.contact-form {
  background-image: url('../images/kai_contact.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  margin-bottom: -2em;

  transition: all 1s;

  min-height: 40em;

  form {
    margin-bottom: 2em;
  }

  @media screen and (max-width: 1600px) {
    background-image: url('../images/kai_contact_light.jpg');
  }
}

@media screen and (max-width: 440px) {
  .contact-btns {
    margin-top: 1em;
  }
}

@media screen and (max-width: 350px) {
  .btn {
    padding-left: 0.7em;
    padding-right: 0.7em;
  }
}
