// site globals
$navbar-bg-color: rgba(255,255,255, 0.9);
$text-color: #666666;

$footer-bg-color: #385d49;
$footer-bg-color-dark: #22443c;

// brands
$facebook-color: #3b5998;
$twitter-color: #55acee;
$instigram-color: #e95950;
$youtube-color: #bb0000;
$linked-in-color: #007bb5;
